.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  span,
  time {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--info);

    > svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
